body {
    line-height: 1;
	background: url('../images/bg.jpg');
	margin: auto;
	text-align: center;
	width: 960px;
	box-shadow: 3px 3px #000000;
}
p{
	font-family: "Martel Sans";
}
h2{
	font-family: "Merienda One";
	font-size: 30px;
}
.container{
	margin:auto;
	overflow:hidden;
	border: rgb(0, 0, 0);
	border-style: solid;
	border-width: 0px 1px;
	background-color: #f5f5f5;
}
.navtainer{
	margin:auto;
	overflow:hidden;
	border: rgb(0, 0, 0);
	border-style: solid;
	border-width: 0px 1px;
}
.main-header{
	background-color: #f5f5f5;
	border: rgb(0, 0, 0);
	border-style: solid;
	border-width: 1px;
	font-family: "Piedra";
	color: #2c2b04;
	text-shadow: 1px 1px rgb(122, 122, 122);
	letter-spacing: 5px;
	font-size: 20px;
}
.navbar{
	background-color: #ffe600;
	color: rgb(0, 0, 0);
	border: rgb(0, 0, 0);
	border-style: solid;
	border-width: 0px 0px 1px 0px;
}
.navbar ul{
	padding: 0;
	list-style: none;
}
.navbar li{
	display: inline;
	padding: 5px 15px;
	border-left: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	border-style: solid;
	border-width: 1px;
}
.navbar li:hover{
	background-color: #ff0707;
}
.navbar a{
	padding: 5px 5px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	width: 60px;
	font-size: 15px;
	font-family: "Merienda One";
}
#main{
	float:right;
	width:70%;
	padding: 0 30px;
	box-sizing: border-box;
}
#sidebar{
	float:left;
	width:30%;
	height: 600px;
	padding: 10px;
	box-sizing: border-box;
	background: #f5f5f5;
	color: rgb(0, 0, 0);
	border-style: solid;
	border-width: 0px 1px 0px 0px;
}
#sidetainer ul{
	padding: 0;
	list-style: none;
}
#sidetainer a{
	color: rgb(0, 0, 0);
	display: block;
	text-decoration: none;
	font-size: 25px;
	font-family: "Merienda One";
}
#sidetainer li{
	padding: 10px;
}
#sidetainer li:hover{
	background-color: #ff0707;
}
.profile{
	float:top;
	padding: 20px 20px;
	box-sizing: border-box;
}
.pics{
	background: url('../images/bg1.jpg');
	background-attachment: fixed;
	border-style: solid;
	border-width: 1px;
	border-bottom-width: 0px;
}
.info{
	margin-left: 15%;
	margin-right: 15%;
}
img{
	border-style: solid;
	border-width: 1px;
	margin: 10px;
}
table{
	background-color: #ffe600;
	width: 100%;
	text-align: center;
	font-family: "Martel Sans";
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
}
th, td{
	padding: 5px;
}
.main-footer{
	background: #ffe600;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 5px;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
}
@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}
	#sidebar{
		width:100%;
		float:none;
	}
}
@media(max-width:600px){
	.main-header{
		letter-spacing: 5px;
		font-size: 16px;
	}
}
@media(max-width:960px){
	body{
		width:100%;
	}
}
@media(max-width:600px){
	.info{
		margin-left: 1%;
		margin-right: 1%;
	}
}
@media(max-width:760px){
	.info{
		margin-left: 5%;
		margin-right: 5%;
	}
}